.gauge{
	position: relative;
	width: 30vw;
	height: 30vw;
}
.gauge-colors, .gauge-values{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	font-family: sans-serif;
}
.gauge-colors{

}
.gauge-color{
	stroke-width: 5;
	fill: transparent;
}
.gauge-color{

}
.gauge-value{
	position: absolute;
}
.gauge-arrow{
	position: absolute;
	top: 0%;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 50%;
	background: url(./arrow.svg) no-repeat 0 100%;
	background-size: 100% 50%;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.gauge:before{
	content: '';
	position: absolute;
	width: 7%;
	height: 7%;
	margin-left: -3.5%;
	margin-top: -3.5%;
	background: #1e98e4;
	top: 50%;
	left: 50%;
	border-radius: 20px;
}